In [15]:
import pandas as pd

df = pd.read_csv('itunes-raja.csv')

def clean_ratings(x):
    x = x.replace('Ratings', '').strip()
    X = 1
    if 'K' in x:
        X = 1000
        x = x.replace('K', '')
    elif 'M' in x:
        X = 1000000
        x = x.replace('M', '')
    return int(float(x) * X)

In [16]:
df['num_ratings_clean'] = df['num_ratings'].apply(clean_ratings)

sorted_apps = df.sort_values(by=['star_rating', 'num_ratings_clean', 'app_name'], ascending=[False, False, True])
top_apps = sorted_apps[['app_name', 'star_rating', 'num_ratings_clean']]

apps_by_category = df['category'].value_counts()

In [17]:
def weighted_average(group):
    d = group['num_ratings_clean']
    r = group['star_rating']
    return (d * r).sum() / d.sum()

avg_rating_by_category = df.groupby('category').apply(weighted_average)

In [18]:
def top_app(group):
    return group.sort_values(by=['star_rating', 'num_ratings_clean'], ascending=[False, False]).iloc[0]

top_app_by_category = df.groupby('category').apply(top_app)[['app_name', 'star_rating', 'num_ratings_clean']]

In [19]:
print("Top Apps: ")
top_apps.head()

Top Apps:

                    app_name  star_rating  num_ratings_clean
25                    Shazam          4.9             694400
1                       Bolt          4.9              29900
30                  Barclays          4.8             856200
36    HSBC UK Mobile Banking          4.8             543600
48  Booking.com Travel Deals          4.8             540400

In [20]:
print("Apps by Category: ")
apps_by_category

Apps by Category:

Games                34
Shopping             11
Travel                6
Productivity          6
Finance               6
Photo & Video         5
Education             5
Social Networking     5
Music                 4
Entertainment         4
Food & Drink          4
Utilities             3
Navigation            2
Health & Fitness      2
Business              2
Reference             1
Name: category, dtype: int64

In [21]:
print("Average Rating by Category: ")
avg_rating_by_category

Average Rating by Category:

category
Business             4.582095
Education            4.558274
Entertainment        4.643281
Finance              4.796536
Food & Drink         4.665683
Games                4.611581
Health & Fitness     4.700000
Music                4.757942
Navigation           4.688176
Photo & Video        4.704613
Productivity         4.626733
Reference            4.400000
Shopping             4.697098
Social Networking    4.644088
Travel               4.715657
Utilities            4.299578
dtype: float64

In [22]:
print("Top App by Category: ")
top_app_by_category

Top App by Category:

,app_name,star_rating,num_ratings_clean
category,,,
Business,Microsoft Teams,4.7,33700
Education,Duolingo,4.7,117900
Entertainment,TikTok - Make Your Day,4.7,305600
Finance,Barclays,4.8,856200
Food & Drink,Just Eat - Food Delivery,4.7,523400
Games,8 Ball Pool™,4.7,295500
Health & Fitness,MyFitnessPal,4.7,153400
Music,Shazam,4.9,694400
Navigation,Google Maps - Transit & Food,4.7,348000
Photo & Video,FreePrints - Photos Delivered,4.8,326300
Productivity,Google Drive – online backup,4.7,236400
Reference,Google Translate,4.4,4200
Shopping,UNiDAYS: Student Discounts,4.8,200100
Social Networking,Pinterest: Lifestyle Ideas,4.8,304300
Travel,Bolt,4.9,29900
Utilities,My Vodafone,4.3,369700